.pagination {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: end;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .pagination {
        justify-content: center;
    }
}

.page__link {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: #64748B;
    
}

.active {
    background-color: #B0B3B8;
    border-radius: 4px;
}

.active a {
    color: #FFFFFF; 
}

.page__icon {
    cursor: pointer;
}