.pagination {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .pagination {
        justify-content: center;
    }
}

.page__link {
    text-decoration: none;
    padding: .5rem;
    border-radius: 4px;
    color: #64748B;
    
}

.page__link:focus,
.page__link:active {
    background-color: #3B82F6;
    color: #FFFFFF;
}

.page__icon {
    cursor: pointer;
}