*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.align--center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: inherit;
  }
}

.container {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  background-color: #F9F9F9;
}

.section--pall {
  padding: 5rem 1.5rem;
}

.section--py {
  padding: 1.5rem 0rem;
}

.section--px {
  padding: 0rem 1.5rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.search__container {
  display: block;
}

.select__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media (min-width: 768px) {
  .search__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }
}
