*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 4rem 1.5rem;
  background-color: #F3F4F6;
}

.section__title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: inherit;
  }
}