*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #F9F9F9;
}

.root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

input, select {
  -webkit-appearance: none;
}

button {
  background: none;
}

.align--center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: inherit;
  }
}

.container {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
}

.section--pall {
  padding: 5rem 1.5rem;
}

.section--px {
  padding: 0rem 1.5rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.search__container {
  display: block;
  gap: 2rem;
}

.select__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 768px) {
  .search__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }
}
