ul {
    list-style: none;
}

li {
    margin-bottom: .5rem;
}

.info__container {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info__name {
    font-size: 1.125rem;
    margin-bottom: .8rem;
}

.info__tech {
    margin-bottom: .8rem;
}

.info__social {
    display: flex;
    align-items: center;
    gap: 1rem;
}
