.card {
    background: #FFFFFF;
    /* box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31); */
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 20px;
}

.card__title {
    font-size: 20px;
}

.card__count {
    font-size: 28px;
    font-weight: 600;
}