.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70.5rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.header__logo {
    font-size: 28px;
    font-weight: 600;
}

.header__logo a {
    color: inherit;
    text-decoration: none;
}

.menu__list {
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    list-style: none;
}

.menu__list a {
    color: inherit;
    text-decoration: none;
    padding: .5rem;
}