.header {
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid #E6E6E6;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    color: inherit;
    text-decoration: none;
}

.menu__list {
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    list-style: none;
}

.menu__list a {
    color: inherit;
    text-decoration: none;
    padding: .5rem;
}