.search__wrapper {
    position: relative;
}

.search__input {
    padding: 12px 24px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    outline: none;
}

.search__input:focus {
    border: 1px solid #E6E6E6;
}

.search__icon {
    position: absolute;
    left: 230px;
    top: 15px;
}