.search__wrapper {
    position: relative;
}

.search__input {
    padding: 12px 24px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.search__input:focus {
    border: 1px solid #B0B3B8;
}

.search__icon {
    position: absolute;
    right: 20px;
    top: 15px;
}