.table {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    width: 100%;
    box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius: 4px;
    padding: 1rem;
}

.table th {
    text-align: left;
}

.table span {
    cursor: pointer;
}