.table {
    --side-padding: 3rem; /* The sum of the left and right padding */
  
    overflow-x: scroll;
    overflow-y: visible;
  
    padding: 0 1.5rem;
  
    min-width: calc(100% + var(--side-padding));
    margin-left: calc(-1 * (var(--side-padding) / 2));
  }

  .table th {
    text-align: left;
    font-size: 1.125rem;
    width: 10rem;
}
  
  .inner {
    width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 1rem;
    min-width: 600px;
    width: 100%;
  
    border-collapse: collapse;
  }
  
  .cell {
    padding: 1rem;
    border: 1px solid gainsboro;
  }

  .col__icon {
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    top: -2px;
}