.select__field {
    position: relative;
    flex: 1;
}

.select {
    padding: 12px 24px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.select:focus {
    border: 1px solid #B0B3B8;
}

.select__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

@media screen and (max-width: 768px) {
    .select__container {
        justify-content: end;
        gap: 0;
    }

    .select {
        margin: 1rem;
    }
}